body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
}

div,
body,
header,
footer,
nav,
ul {
  box-sizing: border-box;
}

.main-wrapper,
header,
footer {
  width: 100%;
}

/* Header Styles */

.header {
  background-color: #48e;
}

.main-navbar ul {
  display: flex;
  padding: 0;
}

.main-navbar li {
  list-style: none;
  margin: 4px;
}

.main-navbar a {
  color: #fff;
  display: block;
  padding: 6px 9px;
}

nav a {
  text-decoration: none;
}

/* Main Content Styles */

.main-wrapper {
  display: flex;
  flex-grow: 1;
}

aside,
main {
  padding: 20px 10px;
  border: #48e 2px solid;
}

.main-wrapper aside {
  flex-grow: 1;
}

.secondary-navbar {
  min-width: 12rem;
  text-align: center;
}

.secondary-navbar ul {
  padding: 0;
}

.secondary-navbar li {
  list-style: none;
}

.secondary-navbar a {
  color: #48e;
  display: inline-block;
  padding: 6px 10px;
}

aside:last-child {
  min-width: 10rem;
}

/* Footer Styles */

footer {
  margin-top: auto;
  border: #48e 2px solid;
  background-color: #333;
  color: #fff;
  padding: 40px;
}

@media screen and (max-width: 800px) {
  aside:last-child {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper {
    flex-direction: column;
  }
}
